/**
 * @file
 * CSS for Michelle and Mike's wedding website.
 */

/**
 * HTML reset
 * @see http://meyerweb.com/eric/tools/css/reset/ 
 *   
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

/**
 * Global styles.
 */
body {
  background: #85D4E3;
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #32292C;
}

/**
 * Typeface styles.
 */
h1, h2, h3 {
  font-family: 'Lobster', Georgia, Times, serif;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 37px;
}

/**
 * Utilities.
 */
.clearfix {
  overflow: auto;
}

.content-block {
  padding: 30px;
}

/**
 * Header styles.
 */
header {
  position: relative;
  width: 100%;
  z-index: -1;
}

header h1, header h2, header h3 {
  text-align: center;
  color: #FFFFFF;
  text-shadow: rgba(0, 0, 0, .6) 6px 6px 6px;
}

header h1 {
  font-size: 2.5em;
  padding-top: 7%;
}

header h2 {
  font-size: 1.5em;
}

.hero {
  background: url('../images/lighthouse-400x360.jpg') no-repeat top center / contain;
  width: 100%;
  padding-bottom: 40%;
}

@media (min-width: 544px) {
  .hero {
    background-image: url('../images/lighthouse-600x360.jpg');
    padding-bottom: 22%;
  }
}

@media (min-width: 768px) {
  .hero {
    background-image: url('../images/lighthouse-800x360.jpg');
    padding-bottom: 16%;
  }
}

@media (min-width: 992px) {
  .hero {
    background-image: url('../images/lighthouse-1000x360.jpg');
    padding-bottom: 13%;
  }
}

/**
 * Section styles.
 */
section {
  margin: 20px;
  background: #FAEFD1;
  box-shadow: 1px 1px 4px #BDBDBA;
  border-top: 10px solid #FAD77B;
  border-bottom: 10px solid #CB654F;
}

/**
 * Horizontal tabs.
 */
ul.tabs {
  margin-top: -90px;
}

ul.tabs li {
  position: relative;
  display: inline-block;
  width: 33.333%;
  height: 80px;
  line-height: 80px;
  max-width: 250px;
  float: left;
  cursor: pointer;
  background: linear-gradient(165deg, transparent 29%, #CE9486 30%);
  text-align: center;
  border-bottom: 10px solid #FAD77B;
}

ul.tabs li.tabs-active {
  border-bottom: 10px solid #FAEFD1;
}

ul.tabs li.tabs-active:before {
  content: '';
  position: absolute;
  bottom: 0%;
  left: 100%;
  border-bottom: 70px solid rgba(0,0,0,.3);
  border-right: 20px solid transparent;
  z-index: 1;
}

.tabs li.tabs-active:last-child:before {
  border: 0;
}

ul.tabs li.tabs-active,
ul.tabs li:hover {
  background: linear-gradient(165deg, transparent 29%, #FAEFD1 30%);
}

.tabs-content {
  display: none;
}

.tabs-content.tabs-content-active {
  display: block;
}